.wrapper{
    width: 240px;
    height: 40px;
    border-radius: 50px;
    background-color: var(--comment-background);
    display: flex;
    flex-direction: row;
    position: relative;
}
.icon{
    padding-left: 12px;
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    left: 0;
    font-weight: 300;
    color: var(--secondary-text);
    transform: translateY(-50%);
    z-index: 0;
}
.searchInput{
    width: 224px;
    height: 40px;
    outline: none;
    border: none;
    background-color: var(--comment-background);
    color: var(--primary-text);
    font-size: 1.6rem;     
    border-radius: 50px;
    padding-left: 30px;
}

.search-result{
    width: 325px;
    margin-right: 100px;
    margin-top: -3px;
    max-height: 525px;
    overflow-y: scroll;
    border-radius: 6px;
    z-index: -1;
}